.dashboard-container{
  // display: flex;
  // justify-content: space-between;
  width: 1492px;
  // position: relative;
  margin-right: 40px;
}

.tree-container{
  width: 75%;
  height: 570px;
  position: relative;
  left: -115px;
  height: 590px;
}


.tree{
width: 100%;
object-fit: contain;
}

.acorn {
  position: absolute;
  // top: 0px;
  // z-index: -1;
  &:hover {
      transform-origin: top center;
      animation: swing 2s ease infinite;
    @keyframes swing {
      20% { transform: rotate(15deg); }
      40% { transform: rotate(-10deg); }
      60% { transform: rotate(5deg); }
      80% { transform: rotate(-5deg); }
      100% { transform: rotate(0deg); }
    }
  }
}

.acorn-1 {
  top: 37%;
  left: 9%;
}

.acorn-2 {
  top: 47%;
  left: 56%;
}

.acorn-3 {
  top: 23%;
  left: 80%;
}

.squirrel-img{
width: 25%;
bottom: auto;
position: absolute;
right: 20px;
top: auto;

img {
  width: 100%;
  height: 590px;
  object-fit: contain;
}
}




// squirrel-img{
// width: 100%;
// position: absolute;
// top: 30px;
// right: 100px;
// align-content: center;
