// Old code that worked but boring
// .splash-container {
//   display: flex;
//   flex-direction: column;
//   // justify-content: center;
//   align-items: center;
//   height: 100vh;
// }
// .splash-image {
//   width: 200px;
// }
////////////////////////////////////////////////
 .splash-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

//  .splash-page h1 {
//   border-bottom: 2px solid $font-color;
//  }

 .splash-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 100vh;
 }

 .splash-circle {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: solid #715252 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $font-color;
  }

  .splash-squirrel-img {
    background-color: $secondary;
    position: absolute;
    width: 400px;
    height: 400px;
    background-size: contain;
    border-radius: 50%;
    background-image: url("splash_squirrel.png ");
 }

 .splash-text-container {
   position: absolute;
   width: 100%;
   height: 100%;
   animation: rotateText 15s linear infinite;
  }
  @keyframes rotateText
  {
    0%
    {
      transform: rotate(360deg);
    }
    100%
    {
      transform: rotate(0deg);
    }
  }

  .splash-text-container h2 {
  color: white;
}

.splash-text-container span {
  padding-top: 8px;
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 250px;
}
