.breathing-dial{
  position: relative;
  display: inline;
  width: 397px;
  top: 0;
  left: 0;
  img:first-child {
    position: relative;
    top: 0;
    left: 0;
  }
  img:last-child {
    position: absolute;
    top: -144px;
    right: 48px;

  }
  .rotation-animation {
    animation: breathing 60s;
    animation-duration: 60s;

    @keyframes breathing {
      7% {
        rotate: 0deg; }
      17% {
        rotate: 144deg; }
      24% {
        rotate: -72deg; }
      34%  {
        rotate: 72deg; }
      41% {
        rotate: -144deg; }
      51% {
        rotate: 0deg; }
      58% {
        rotate: -144deg; }
      68% {
        rotate: -72deg; }
      75% {
        rotate: 72deg; }
      85% {
        rotate: -144deg; }
      92% {
        rotate: 0deg; }
      100% {
        rotate: 144deg; }
          }
        }
  }
