.game-2-container-5 {

    .mid-arch {
    justify-content: center;
    display: flex;
    .input4{
      position: relative;
      width: max-content;

      }
    }
}

.mouth-logo {
  height: 238px;
  position: absolute;
  top:calc(40% - 5px);
  left:calc(50% - 200px);

}
.game-2-container-5 {
  margin: 0px auto;
  position: relative;
  height: 300px;
  padding-top: 65px;
}

.game-2-container-5 .button {
  position: absolute;
  top: 150%;
  left: 48%;
}
