.game-2-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  position: relative;
  padding: 40px 0 40px;
  margin-bottom: 20px;

  .game-wrapper {
    width: 825px;
    height: 400px;
  }

  .mid-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 5px 48px;

    .input2{
      position:relative;
      width: max-content;
      justify-content: left;
    }

    .input3{
      position: relative;
      width: max-content;
      justify-content: right;
    }

    .input4{
      position: relative;
      width: max-content;

      }

  }


}

.ears-logo {
  height: 238px;
  position:absolute;
  top:calc(40% - 50px);
  left:calc(35% - 30px);

}

// .game-2-container-3 .button {
//   position: absolute;
//   top: 130%;
//   left: 45%;
// }
