.game-2-container-2 {

  .mid-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 48px 48px;
    .input2{
      position:relative;
      width: max-content;
      justify-content: left;


    }

    .input3{
      position: relative;
      width: max-content;
      justify-content: right;


    }
  }

  .bottom-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input4{
      position: relative;
      width: max-content;

      }

    .input5{
      position: relative;
      width: max-content;


    }
  }
}

.paw-logo {
  height: 238px;
  position:absolute;
  top:calc(50% - 60px);
  left:calc(48% - 101.5px);

}
.game-2-container-2 {
  max-width: 824px;
  margin: 0px auto;
  position: relative;
  padding-top: 165px;
}
