.game-2-container-3 {

  .mid-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 5px 48px;
    .input2{
      position:relative;
      width: max-content;
      justify-content: left;


    }

    .input3{
      position: relative;
      width: max-content;
      justify-content: right;


    }
  }

  .bottom-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input4{
      position: relative;
      width: max-content;

      }

  }
}

.game-2-inputs{
  input {
    background-color: $primary;
    border-radius: 48px;
    border: none;
    text-align: center;
    height: 73px;
    font-size: 28px;
    width: 191px;
    &:focus {
      background-color: $primary;


    }
  }
  input::placeholder{
    color:black;
  }
}
.ears-logo {
  height: 238px;
  position:absolute;
  top:calc(50% - 119px);
  left:calc(35% - 100px);

}
.game-2-container-3 {
  max-width: 824px;
  margin: 0px auto;
  position: relative;
}
