.scramble_game_container {
  // position: absolute;
  // left: 0%;
  // right: 0%;
  // top: 0%;
  // bottom: 0%;
  width: 720px;
  height: 340px;
  background: #FFB703;
  box-shadow: 4px 4px 16px rgba(136, 136, 136, 0.5);
  border-radius: 7px;

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    margin-bottom: 50px;
  }

  .word {
    font-size: 4rem;
    letter-spacing: 2rem;
  }

  .rounds {
    margin-bottom: 0;
    align-self: flex-end;
  }
}

.buttons {
  margin-top: 30px;
}

/* Input */
#user-input {
  background: #FBD87D;
  border-radius: 7px;

  // position: absolute;
  // left: 6.59%;
  // right: 5.43%;
  // top: 0%;
  // bottom: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  // display: flex;
  // align-items: center;
  color: #3D2B3D;
  padding: 15px 30px;
  // width: 60%;
  // border: 1px solid red;
}

.game-3-inputs {
  input {
    background-color: $primary;
    border-radius: 48px;
    border: none;
    text-align: left;
    height: 73px;
    font-size: 28px;
    width: 400px;
    &:focus {
      background-color: $primary;
    }
  }
  input:focus {
    outline: none
  }
}

.solution {
  font-size: 18px;
  width: 148px;
}
