.game-2-container-1 {
  .top-arch {
    justify-content: center;
    display: flex;


    .input1{
      position: relative;
      width: max-content;
    }
  }

  .mid-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 48px 48px;
    .input2{
      position:relative;
      width: max-content;
      justify-content: left;


    }

    .input3{
      position: relative;
      width: max-content;
      justify-content: right;


    }
  }

  .bottom-arch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input4{
      position: relative;
      width: max-content;

      }

    .input5{
      position: relative;
      width: max-content;


    }
  }
}

.game-2-inputs{
  input {
    background-color: $primary;
    border-radius: 48px;
    border: none;
    text-align: center;
    height: 73px;
    font-size: 28px;
    width: 191px;
    &:focus {
      background-color: $primary;


    }
  }
  input::placeholder{
    color:black;
  }
  input:focus {
    outline: none
  }
}
.eye-logo {
  height: 238px;
  position:absolute;
  top:calc(50% - 119px);
  left:calc(50% - 101.5px);

}
.game-2-container-1 {
  max-width: 824px;
  margin: 0px auto;
  position: relative;
}
