.scramble_game_container {
  // position: absolute;
  // left: 0%;
  // right: 0%;
  // top: 0%;
  // bottom: 0%;
  width: 960px;
  height: 340px;
  background: #FFB703;
  box-shadow: 4px 4px 16px rgba(136, 136, 136, 0.5);
  border-radius: 7px;

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    margin-bottom: 50px;
  }

  .word {
    font-size: 4rem;
    letter-spacing: 2rem;
  }

  .word-container {
    padding-top: 5px;
  }

  .hint-heading {
    font-weight: 600;
  }

  .hint {
    margin-bottom: 0;
    padding: 40px 0;
  }

  .rounds {
    margin-bottom: 0;
    align-self: flex-end;
  }
}

.buttons {
  margin-top: 30px;
}

.game-alert-image {
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40px);
}

.hide-me {
  opacity: 0;
  visibility: hidden;
}

/* Input */
#user-input {
  background: #FBD87D;
  border-radius: 7px;

  // position: absolute;
  // left: 6.59%;
  // right: 5.43%;
  // top: 0%;
  // bottom: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  // display: flex;
  // align-items: center;
  color: #3D2B3D;
  padding: 15px 30px;
  // width: 60%;
  // border: 1px solid red;
}

.game-3-inputs {
  input {
    background-color: $primary;
    border-radius: 48px;
    border: none;
    text-align: left;
    height: 73px;
    font-size: 28px;
    width: 400px;
    &:focus {
      background-color: $primary;
    }
  }
  input:focus {
    outline: none
  }
}


.explanation-text strong {
  color: $accent;
}

.solution {
  font-size: 18px;
  width: 147px;
  height: 29px;
}

// ALERTS

.game-3-alert-container {
  display: none;
  width: 300px;
  height: 170px;
  padding: 30px;
  border: solid 1px black;
  position: absolute;
  background-color: white;
  top: 45%;
  left: 40%;
  z-index: 3;
  background-color: $font-color;
  border-radius: 7px;

  .close-btn {
    position: absolute;
    // font-size: 1rem;
    bottom: 5px;
    right: 110px;
    cursor: pointer;
    // border: 1px solid teal;
    // background-color: teal;
    // color: white;
    // text-align: center;
    // width: 120px;
    // height: 60px;
    box-sizing: border-box;
    background: #F4EAD5;
    border: 1px solid #715252;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(187, 187, 187, 0.48);
    border-radius: 35px;
    width: fit-content;
    height: 35px;
    font-family: 'Special Elite';
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    text-align:center;
    flex-shrink: 0;
    padding: 25px 20px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}

.game-alert {
  padding-top: 10px;
  font-size: 22px;
  color: #F4EAD5;
}

.letter {
  font-size: 40px;
  background-color: $secondary;
  color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
  width: 60px;
  text-align: center;
}
