// General styling
.parent-dashboard {
  display: flex;
  width: 1200px;
}

.parent-dashboard h2 {
  font-family: 'Livvic';
  font-size: 48px;
  font-weight: bolder;
}

.parent-dashboard p {
  font-family: 'Livvic';
  font-size: 20px;
}

// Level cards

.PD-card {
  margin-bottom: 16px;
  width: 100%;
}

.level-card-unlocked {
  width: 100%;
  height: 105px;
  border-radius: 7px;
  background-color: $primary;
  position: relative;
  display: flex;
  align-items: center;
}
.level-card-unlocked h2 {
  color: $accent;
}

.level-card-unlocked img {
  margin-right: 16px;
}

.level-card-locked {
  width: 100%;
  height: 105px;
  border-radius: 7px;
  background-color: #3d2b3d32;
  position: relative;
  display: flex;
  align-items: center;
}

.triangle-positioning {
  position: absolute;
  top: 40px;
  right: 48px;
}

.triangle-open {
  animation: rotate-down 1s ease forwards;
  @keyframes rotate-down {
   100% { transform: rotate(180deg)};
  }
}

.triangle-closed {
  animation: rotate-up 1s ease forwards;
  @keyframes rotate-up {
    0% { transform: rotate(180deg) };
   100% { transform: rotate(0deg) };
  }
}

// Dropdown card styling

  .dropdown-card {
    width: 100%;
    // height: 276px;
    // overflow: auto;
    border-radius: 0 0 7px 7px;
    background-color: #ffb8038a;
    display: flex;
    padding: 16px;
    // transition: height 0.5s ease-in-out;
  }

  .hidden {
    display: none;
  }


  .dropdown-dividing-line {
    width: 0.1px;
    border: 1px $secondary solid;
  }

  .dropdown-info {
    box-sizing: border-box;
    width: 50%;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    // align-items: flex-start;

    // height: 260px;
    // position: relative;
  }

  .dropdown-info h2 {
    font-size: 24px;
  }

  .dropdown-info p {
    text-align: left;
    margin-bottom: 40px;
  }

  .dropdown-link {
    box-sizing: border-box;
    background: #F4EAD5;
    border: 1px solid #715252;
    color: $secondary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(187, 187, 187, 0.48);
    border-radius: 35px;
    width: fit-content;
    height: 25px;
    font-family: 'Livvic';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    text-align:center;
    flex-shrink: 0;
    padding: 8px 8px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: 0;
    justify-self: flex-end;
    position: absolute;
    bottom: 0;

    &:hover{
      color: $primary;
      transform: translate(0px, -5px);
    }
  }
