
<div class="js-container funconfetti container d-flex flex-column align-items-center justify-content-center">
  <h1 class="congrats">Congratulations, <%= current_user.first_name %>!</h1>
  <%= link_to dashboard_path, class: "w-25" do %>
    <%= image_tag "squirrel1.png" , class:"squirrel w-100" %>
  <% end %>
  <h2 class="mt-4">You've graduated spy school!</h2>
</div>
