<h1>Mind Mission<h1>
<%#
<h2>Keep Cool at Spy School</h2> %>
<div class="splash-container">
  <div class="splash-circle">
    <%= image_tag "squirrel1.png", class:"spash-image"%>
    <div class="splash-text-container">
      <div class="splash-moving-text">Keep Cool at Spy School</div>
      <%# <div class="splash-moving-text">Cool</div>
      <div class="splash-moving-text">at</div>
      <div class="splash-moving-text">Spy</div>
      <div class="splash-moving-text">School</div> %>
    </div>
  </div>
</div>
