<div class="challenge two step five container">
  <h1>Level 2 Challenge</h1>
  <h3>level 2 step 5<h3>

  <p>List 1 thing you can taste</p>

  <div class="challenge two taste form">
    <%= simple_form_for(:quiz, url:level_two_snippet_path, method: :get) do |f| %>
      <%= f.input :answer1, as: :string %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
