
<div id="content">
  <%= image_tag "Sammy Chal 1.png", class:"avatar-snippet" %>
  <div class="snippet-wrapper animation-hi-there">

    <div class="testimonial">
      <blockquote>
      <div class="text-wrapper">
        <h1 class="snippet-heading">Jetpack Fuel</h1>
        <p class="snippet-text-1">At the start of each day you have a certain amount of <strong>jetpack fuel</strong>. Somedays you might wake up with more fuel than on other days. And some people may have more or less fuel than you. Be <strong>conscious</strong> of what activities will take up most of your fuel and what activities <strong>give</strong> you fuel - like arts and crafts, sport or music.</p>
      </div>
    </blockquote>
  <div class="triangle"></div>
  </div>
<%= link_to "Next level", level_two_challenge_step_one_path, class:"button" %>
</div>

