<div class="challenge two step three container">
  <h1>Level 2 Challenge</h1>
  <h3>level 2 step 4<h3>

  <p>List 2 things you can smell</p>

  <div class="challenge two hear form" data-controller="disable-button">
    <%= simple_form_for(:quiz, url:level_two_challenge_step_five_path, method: :get) do |f| %>
      <%= f.input :answer1, as: :string, input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"} %>
      <%= f.input :answer2, as: :string, input_html: {"data-action": "change->disable-button#enableButton", "data-disable-button-target": "input"} %>
      <%= f.button :submit, disabled: true, data: {disable_button_target: "button"}, class:"button"  %>
    <% end %>
  </div>
</div>
