<div id="content">
  <%= image_tag "squirrel.jpg", class:"avatar-snippet" %>
  <%= image_tag "%>
  <div class="testimonial">
    <blockquote>
      <div class="text-wrapper">
        <h1>Level 3 Snippet</h1>
        <p>Sometimes the world will throw a lot at you at once - when it feels like it’s too much, this is called ‘overstimulation’. You need to use your mental umbrella shield to protect yourself. Each person’s shield is different, for some it’s distracting themselves, taking a walk or confiding in someone they trust.</p>
      </div>
    </blockquote>
  <div class="triangle"></div>
  </div>
</div>
