<h1>Level 2 Challenge</h1>
<h3>level 2 step 5<h3>

<p>List 1 thing you can taste</p>

<%# <%= simple_form_for() do |f| %> %>
  <%# <%= f.input :answer1%> %>
  <%# <%= f.submit %> %>
<%# <% end %> %>

<%# button %>
