<div id="content">
<%= image_tag "squirrel.jpg", class:"avatar-snippet" %>
  <div class="testimonial">
    <blockquote>
     <div class="text-wrapper">
      <h1 class="snippet-heading-2">X-Ray Sunglasses</h1>
      <p class="snippet-text-2">When you are stressed then it’s like the enemy agents have let off fog bombs in your brain! You can’t see anything clearly! Put on your X-ray sunglassses and keep breathing (like you did in time with the safe dial) until the fog settles, then you can make a plan.</p>
  </div>
    </blockquote>
  <div class="triangle"></div>
  </div>
</div>
