<div id="content">
  <%= image_tag "squirrel1.png", class:"avatar-snippet" %>
  <div class="snippet-wrapper animation-hi-there">
    <div class="testimonial">
      <blockquote>
      <div class="text-wrapper">
        <h1 class="snippet-heading-2">X-Ray Sunglasses</h1>
        <p class="snippet-text-2">When you are <strong>stressed</strong> then it’s like the enemy agents have let off fog bombs in your brain! You can’t see anything <strong>clearly</strong>! Put on your X-ray sunglassses and keep <strong>breathing</strong> (like you did in time with the safe dial) until the fog settles, then you can make a plan.</p>
        </div>
      </blockquote>
      <div class="triangle"></div>
    </div>
    <%= link_to "Next level", level_three_challenge_path, class:"button" %>
  </div>
</div>
