<h1>Level 2 Challenge</h1>
<h3>level 2 step 4<h3>

<p>List 2 things you can smell</p>

<%# <%= simple_form_for() do |f| %> %>
  <%# <%= f.input :answer1%> %>
  <%# <%= f.input :answer2 %> %>
  <%# <%= f.submit %> %>
<%# <% end %> %>

<%# button %>
