
<div id="content">
  <%= image_tag "squirrel.jpg", class:"avatar-snippet" %>
  <div class="testimonial">
    <blockquote>
      <div class="text-wrapper">
        <h1>Jetpack Fuel</h1>
        <p>At the start of each day you have a certain amount of jetpack fuel. Somedays you might wake up with more fuel than on other days. And some people may have more or less fuel than you. Be conscious of what activities will take up most of your fuel and what activities give you fuel - like arts and crafts, sport or music.</p>
      </div>
    </blockquote>
    <div class="triangle"></div>
  </div>
  <%= link_to "Next level", level_two_challenge_step_one_path, class:"button" %>
</div>
