<div id="content">

  <%= image_tag "Sammy Chal 3.png", class:"avatar-snippet" %>
  <div class="snippet-wrapper animation-hi-there">
    <div class="testimonial">
      <blockquote>
      <div class="text-wrapper">
        <h1 class="snippet-heading">Bulletproof Umbrella</h1>
        <p class="snippet-text-3">Sometimes the world will throw a lot at you at once - when it feels like it’s too much, this is called <strong>‘overstimulation’</strong>. You need to use your mental umbrella shield to protect yourself. Each person’s shield is <strong>different</strong>, for some it’s distracting themselves, taking a walk or chatting to someone they trust.</p>
      </div>
    </blockquote>
  <div class="triangle"></div>
  </div>
<%= link_to "Graduate!", graduation_path, class:"button" %>
</div>
