<div class="d-flex justify-content-center">
  <div class="flex-column">
    <div class="d-flex justify-content-center">
      <h1>Solve the Code</h1>
    </div>
    <p>When you're stressed it's good to get your brain whirring and focus on a puzzle!</p>
    <p>The enemy agents have jumbled up these three important words - unscramble them!</p>
    <div data-controller="crack-the-code">
      <div class="d-flex justify-content-center">
        <div class="scramble_game_container">
          <div class="reward" data-crack-the-code-target="reward">
            <h1>Brilliant work!</h1>
            <%= image_tag "reward_placeholder.png" %>
            <p>You've passed level 3 and unlocked a bulletproof umbrella!</p>
            <%= link_to "Great!", level_three_checkpoint_path, class:"button" %>
          </div>
          <div class="game-container">
            <p class="word" data-crack-the-code-target="word"></p>
            <p class="hint">Hint: <span data-crack-the-code-target="hint"></span></p>
            <form action="" class="game-2-inputs <%# game-3-inputs %>">
              <input type="text" id="user-input" name="user-input" placeholder="Type here..." data-crack-the-code-target="input">
            </form>
            <p class="rounds"><span data-crack-the-code-target="round">1</span>/3 </p>
          </div>
        </div>
      </div>
      <div class="buttons d-flex justify-content-center">
        <button type="button" class="solution button px-3 py-3" data-action="click->crack-the-code#showAnswer" style="margin-right: 15px;">Need a clue?</button>
        <button type="button" class="check button px-3 py-3" data-action="click->crack-the-code#checkWord" style="margin-left: 15px;">Submit!</button> <%# when we have only two buttons we will need to change how the margin is applied %>
      </div>
    </div>
  </div>
</div>

<%# <div class="container">
  <h1>Level 3 Challenge</h1>
  <p>Time to get your brain whirring! The enemy agents have jumbled up these three important words - unscramble them!</p>
  <div class="game-container">
    <p class="word" style="font-size: 4rem;"></p>
    <p class="hint">Hint: <span></span></p>
    <form action="/action_page.php">
      <input type="text" id="user-input" name="user-input">
    </form>
  </div>
  <div class="button-container">
    <button type="button" class="solution button px-3 py-3">Solution</button>
    <button type="button" class="check button px-3 py-3">Check</button>
  </div>
</div> %>
