.button {
  box-sizing: border-box;
  background: #F4EAD5;
  border: 1px solid #715252;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(187, 187, 187, 0.48);
  border-radius: 30px;
  width: 258px;
  height: 62px;
  font-family: 'Special Elite';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
  &:hover{
    animation: shake 0.6s infinite;
  }
  @keyframes shake{
    0%{
      transform: translate(0px, 0px) rotate(0deg);
    }
    25%{
      transform: translate(1px, 1px) rotate(1deg);
    }
    50%{
      transform: translate(-1px, -1px) rotate(-1deg);
    }
    75%{
      transform: translate(2px, -1px) rotate(2deg);
    }
    100%{
      transform: translate(-1px, 1px) rotate(-1deg);
    }
  }
};

.disabled-button {
  width: 258px;
  height: 62px;
  box-sizing: border-box;
  background: #F4EAD5;
  border: 1px solid rgba(113, 82, 82, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: rgba(113, 82, 82, 0.22);
  border: 1px solid #FBD87D;
};
