.navbar-MM {
  display: flex;
  justify-content: flex-end;
  background: $background;
}

.navbar-MM .navbar-collapse {
  flex-grow: 0;
}

.navbar-MM .navbar-brand img {
  width: 80px;
}

.nav-item{
  padding-left: 10px;
  padding-right: 10px;
}

.level-counter {
  font-family: $headers-font;
  font-size: 24px;
  color: $secondary;
}

.dropdown-item{
  color: $secondary;
  font-size: 20px;
  font-family: $headers-font;
  font-weight: bold;
  &:hover{
    color: $secondary;
}
}
