.dropdown-item {
  background-color:#FFB703;
  color: #E36414;
  font-family: $body-font;
}

.dropdown-item:hover {
  background-color:#ffc83e;
}

.dropdown-menu {
  background-color: #FFB703;
  border-radius: 7px;
}
