#content {
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
  height: calc(100vh - 66px);
}

// .testimonial {
//   margin-bottom: 20px;
// }

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #FFB703;
  padding: 20px 70px;
  position: relative;
  border: none;
  border-radius: 50%;
  font-style: italic;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.snippet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial .text-wrapper {
  margin-top: -30px;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 200px;
  line-height: 1;
  color: $accent;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 50px;
  left: 40px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 40px;
  bottom: -60px;
}

.testimonial .triangle {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 70px solid transparent;
  border-top: 90px solid #FFB703;
  margin: 0 0 0 60px;
  transform: rotate(90deg);
  position: relative;
  top: -250px;
  left: -100px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  color: #000000;
}

.content {
  font-size: small;
}

.snippet-text-1 {
  font-size: 24px;
}

.snippet-text-2 {
  font-size: 24px;
}

.snippet-text-3 {
  font-size: 24px;
}

.snippet-text-1 strong, .snippet-text-2 strong, .snippet-text-3 strong {
  color: $accent;
}

.snippet-heading {
  font-size: 2.5rem;
}

.snippet-heading-2 {
  font-size: 2.3rem;
}
